{
  "extends": "@ivangabriele/eslint-config-react",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "no-shadow": "off",

    "react/function-component-definition": "off",
    "react/no-unstable-nested-components": "off",
    "react/prop-types": [
      "error",
      {
        "ignore": [
          "children",
          "className",
          "Component",
          "contentEditable",
          "dangerouslySetInnerHTML",
          "pageProps",
          "ref"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off"
  },
  "overrides": [
    {
      "files": ["./api/**/*.js", "./pages/api/**/*.js"],
      "env": {
        "browser": false,
        "node": true
      }
    },
    {
      "files": ["./app/**/*.js", "./app/**/*.jsx"],
      "env": {
        "browser": true,
        "node": false
      },
      "globals": {
        "process": true
      }
    },
    {
      "files": ["./pages/**/*.jsx"],
      "env": {
        "browser": true,
        "node": true
      },
      "rules": {
        "react/prop-types": "off"
      }
    },
    {
      "files": ["./pages/**/*.js"],
      "env": {
        "browser": false,
        "node": true
      }
    },
    {
      "files": ["**/*.test.js", "./e2e/**/*.js"],
      "plugins": ["jest"],
      "env": {
        "browser": false,
        "jest/globals": true,
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],

        "jest/no-disabled-tests": "error",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "error",
        "jest/valid-expect": "error"
      }
    },
    {
      "files": ["./scripts/**/*.js"],
      "plugins": ["jest"],
      "env": {
        "browser": false,
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
      }
    }
  ]
}
