{
  "extends": "@ivangabriele/eslint-config-typescript-next",
  "parserOptions": {
    "ecmaVersion": 2022,
    "extraFileExtensions": [".cjs", ".jsx"],
    "project": "./tsconfig.dev.json"
  },
  "ignorePatterns": ["next-env.d.ts"],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-shadow": "off",

    "import/no-default-export": "off",

    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unstable-nested-components": "off"
  },
  "overrides": [
    {
      "files": ["./config/**/*.js", "./config/**/*.ts", "./prisma/**/*.js", "./scripts/**/*.js", "**/*.test.ts"],
      "env": {
        "browser": false,
        "node": true
      },
      "rules": {
        "no-await-in-loop": "off",
        "no-continue": "off",
        "no-restricted-syntax": "off",

        "import/no-default-export": ["off"],
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
      }
    },
    {
      "files": ["./config/**/*.js", "./prisma/**/*.js", "./scripts/**/*.js"],
      "env": {
        "browser": false,
        "node": true
      },
      "rules": {
        "import/extensions": ["error", "always"]
      }
    }
  ]
}
